@{
    var grid = ViewBag.grid;
}


@section styles {
    @Styles.Render("~/Content/statistics.css")
}

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3">
                @Ajax.ActionLink("Users", "ChangeViewStatistic", new { type = "user" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "wrapper-grid",
                    OnSuccess = "onGridLoaded"
                })
            </li>
            <li class="tab col s3">
                @Ajax.ActionLink("Courses", "ChangeViewStatistic", new { type = "course" },
                     new AjaxOptions
                     {
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "wrapper-grid",
                         OnSuccess = "onGridLoaded"
                     })
            </li>
        </ul>
    </div>
    <div id="wrapper-grid" class="col s12">
        @Html.Action("ChangeViewStatistic")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script>
        $(function () {
            onGridLoaded()
        })
    </script>
}
