@model  List<Ignite.Areas.Admin.ViewModels.OverdueCourse>

@{
    var grid = ViewBag.grid;
}

@section styles {
    @Styles.Render("~/Content/statistics.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jqgrid.css")
}

<div class="row">
    <div class="col s12">
        <ul class="nav nav-tabs nav-justified">
            <li class="tab-table">
                @Ajax.ActionLink("Users", "ChangeViewStatistic", new { type = "user" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "wrapper-grid",
                    OnSuccess = "onGridLoaded"
                })
            </li>
            <li class="tab-table">
                @Ajax.ActionLink("Courses", "ChangeViewStatistic", new { type = "course" },
                     new AjaxOptions
                     {
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "wrapper-grid",
                         OnSuccess = "onGridLoaded"
                     })
            </li>
        </ul>
    </div>

    <div class="alert alert-danger">
        <div class="container" id="">
            <h2 id="overdue-heading">Overdue !!!</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Course Name</th>
                        <th>Overdue With</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var overdueModel in Model)
                    {
                        <tr>
                            <td>@overdueModel.Username</td>
                            <td>@overdueModel.CourseName</td>
                            <td>@overdueModel.OverdueWith</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="wrapper-grid" class="col s12">
        @Html.Action("ChangeViewStatistic")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script>
        $(function () {
            onGridLoaded()
        })
    </script>
}
