@model  List<Ignite.Areas.Admin.ViewModels.OverdueCourse>

@{
    var grid = ViewBag.grid;
}

@section styles {
    @Styles.Render("~/Content/statistics.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jqgrid.css")
}

<div class="row">
    <div class="col s12">
        <ul class="nav nav-tabs nav-justified">
            <li class="tab-table">
                @Ajax.ActionLink("Users", "ChangeViewStatistic", new { type = "user" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "wrapper-grid",
                    OnSuccess = "onGridLoaded"
                })
            </li>
            <li class="tab-table">
                @Ajax.ActionLink("Courses", "ChangeViewStatistic", new { type = "course" },
                     new AjaxOptions
                     {
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "wrapper-grid",
                         OnSuccess = "onGridLoaded"
                     })
            </li>
        </ul>
    </div>

    <div class="alert alert-danger">
        <div class="">
            @*<div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Panel Heading</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                        </div>
                    </div>
                </div>*@
                <div class="panel-body">
                    <h2 id="overdue-heading">Overdue !!!</h2>
                    <table class="table table-striped table-bordered table-list table-hover">
                        <thead>
                            <tr>
                                <th><em class="fa fa-cog"></em></th>
                                <th>User</th>
                                <th>Course Name</th>
                                <th>Overdue With</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var overdueModel in Model)
                            {
                                <tr>
                                    <td align="center">
                                        <a class="btn btn-default"><em class="fa fa-pencil icon-page"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash icon-page"></em></a>
                                    </td>
                                    <td>@overdueModel.Username</td>
                                    <td>@overdueModel.CourseName</td>
                                    <td>@overdueModel.OverdueWith</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">
                            Page 1 of 5
                        </div>
                        <div class="col col-xs-8" id="pager-buttons">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container" id="">
                <h2 id="overdue-heading">Overdue !!!</h2>
                <table class="table table-hover">

                </table>
            </div>*@
    </div>

    <div id="wrapper-grid" class="col s12">
        @Html.Action("ChangeViewStatistic")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script>
        $(function () {
            onGridLoaded()
        })
    </script>
}
