@model Ignite.ViewModels.Quiz

@section styles{
    @Styles.Render("~/Content/quiz.css");
}

@using (Ajax.BeginForm("SubmitTest", "TestQuiz",
                            new { }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnSuccess = "onSuccess(data)"
                            },
                            new { id = "test-form" }))
{
    @Html.AntiForgeryToken()

    <div id="test-form">
        @Html.Partial("_TestForm", Model)
    </div>
}

<div id="result-popup" class="modal" hidden>

</div>


@section scripts{
    <script>
        function onSuccess(data) {
            debugger;
            if (data.error) {
                // $('#test-form')
            }
            else {
                debugger;
                $('#result-popup').html(data.partialView)
                $('#result-popup').show()
            }
        }

        @*var URL = "@(Url.Action("SubmitTest", "TestQuiz"))";
        var model = @Html.Raw(Json.Encode(Model));

        $(function () {
            $("#test-btn").click(function () {
                debugger;
                var $buttonClicked = $(this);
                $.ajax({
                    type: "POST",
                    url: URL,
                    contentType: "application/json; charset=utf-8",
                    data: "{ 'model':" + JSON.stringify(model) + "}",
                    datatype: "text.json",
                    success: function (data) {
                        debugger;
                            $('#myModalContent').html(data);
                            $('#result-popup').show();
                    },
                    error: function () {
                        alert("Fail !");
                    }
                });
            });*@
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            //$("#closbtn").click(function () {
            //    $('#myModal').modal('hide');
            //});
        //});

    </script>
}

