@model Ignite.ViewModels.QuizQuestion
<div id="test-question">
    @Html.HiddenFor(x => x.Id)
    <h3> @Model.Statement </h3>

    @foreach (var answer in Model.Answers)
    {
        <p>
            @Html.RadioButtonFor(b => b.ChosenAnswer, answer.Letter)
            <label for="@answer.Letter">@answer.Text</label>
        </p>
    }
    <div id = "validation-test">
        @Html.ValidationMessageFor(m => m.ChosenAnswer, null, new { id ="validation-test-span" })
    </div>
</div>
