@model Ignite.Areas.Admin.ViewModels.ListAssignmentViewModel

@section styles{
    @Styles.Render("~/Content/assignmentTable.css")
}

<div>
    <h2>List Assignments</h2>
</div>

@*@foreach (var assignment in Model.Assignments)
{
    <div class="list-assignments">
        @assignment.Id
        @assignment.User.UserName
        @assignment.DueDate
        @Html.ActionLink("Remove", "RemoveAssignment", new { assignmentId = assignment.Id })
    </div>
}*@

<div class="creatediv1 marginTop30">

    <div class="row margin-top-50">
        <div class="col-md-12">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Users<span style="color: white; font-weight: bold;"> *</span></h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="span12">
                    <table>
                        <tr class="filters">
                            <th style="width: 4.1%;">
                                <input type="text" class="form-control" placeholder="Id" disabled>
                            </th>
                            <th style="width: 30%">
                                <input type="text" class="form-control" placeholder="Username" disabled>
                            </th>
                            <th style="width: 30%">
                                <input type="text" class="form-control" placeholder="Due Date" disabled>
                            </th>
                            <th style="width: 30%">
                                <input type="text" class="form-control" placeholder="Action" disabled>
                            </th>
                        </tr>
                    </table>
                    <div class="bg tablescroll">
                        <table class="table table-bordered table-striped">

                            @foreach(var assignment in Model.Assignments)
                            {
                                <tr>
                                    <td style="width: 4.1%">@assignment.Id</td>
                               
                                    <td style="width: 30%">@assignment.User.UserName</td>
                                
                                    <td style="width: 30%">@assignment.DueDate</td>
                                
                                    <td style="width: 30%">@Html.ActionLink("Remove", "RemoveAssignment", new { assignmentId = assignment.Id })</td>
                                </tr>
                            }

                        </table>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/assignmentTable.js")
}