@section styles{
    @Styles.Render("~/Content/landingPage.css")
}
<section id="sparlky-red">
    <section id="particles-js"></section>
    <section class="landing">
        <div class="h-100 d-inline-block" id="central-sign">
            <div id="cental-wrap">
                <h2>
                    Ignite Learning System
                </h2>
                <h6>
                    Courses
                </h6>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <button class=" btn btn-lg btn-success" id="buttonnn" value="My Courses">
                        My Courses
                    </button>
                }
                else
                {
                    <button class=" btn btn-lg btn-success" id="buttonnn" value="Register">
                        Login
                    </button>
                }
            </div>

        </div>
    </section>
</section>


@section scripts{
@Scripts.Render("~/bundles/VisualSettings")
    @Scripts.Render("~/bundles/particles.js")    
<script>
    $('#buttonnn').click(function () {
        let button = $(this);
        if (button.val() == "Register") {
             document.location = '@Url.Action("Login", "Account")';
        }
        else {
              document.location = '@Url.Action("Home", "Usercourse")';
        }
    });


    jQuery(document).ready(function ($) {
        //    particlesJS.load('particles-js', 'particles.json', function() {
        //        console.log('particles.js loaded - callback');
        //    });
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 96,
                    "density": {
                        "enable": false,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 191.80819180819182,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 1500,
                        "size": 3.9960039960039966,
                        "duration": 2,
                        "opacity": 0.8311688311688312,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true

        });
    });
</script>
}



@*<section class="recipe-recommend">
    <div class="wrapper-scroller-menu slide">

        <article class="recipe" index="0">
            <a href="">
                <figure>
                    <img src="img/ratatouille.jpg" alt="meal">
                </figure>
                <ul class="article-info">
                    <li><span class="article-info-title">Cook Time:</span><br> 20min</li>
                    <li><span class="article-info-title">Category:</span><br> Dinner, Summer</li>
                    <li><span class="article-info-title">Tag:</span><br> Chicken, Fish</li>
                    <li>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                </ul>
                <h3 class="recipe-name">Ratatouille</h3>
                <p class="short-description">
                    “This moreish Mediterranean-style vegetable stew is perfect for a super-healthy midweek supper.
                    ”
                    “This moreish Mediterranean-style vegetable stew is perfect for a super-healthy midweek supper.
                    ”
                </p>
            </a>
        </article>

        <article class="recipe" index="0">
            <a href="">
                <figure>
                    <img src="img/kugelhopf.jpg" alt="meal">
                </figure>
                <ul class="article-info">
                    <li><span class="article-info-title">Cook Time:</span><br>3h and 20min</li>
                    <li><span class="article-info-title">Category:</span><br> Cake, Dessert</li>
                    <li><span class="article-info-title">Tag:</span><br> Baking, Christmas</li>
                    <li>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                </ul>
                <h3 class="recipe-name">Kugelhopf</h3>
                <p class="short-description">
                    “A soft sponge with warming hints of cardamom,
                    this spiced fruit cake is found in Austria, Alsace, Germany and Switzerland. ”
                </p>
            </a>
        </article>

        <article class="recipe" index="1">
            <a href="">
                <figure>
                    <img src="img/beefwellington.jpg" alt="meal">
                </figure>
                <ul class="article-info">
                    <li><span class="article-info-title">Cook Time:</span><br> 1h and 20min</li>
                    <li><span class="article-info-title">Category:</span><br> Dinner, Special</li>
                    <li><span class="article-info-title">Tag:</span><br> Pastry, Beef</li>
                    <li>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                </ul>
                <h3 class="recipe-name">Beef Wellington</h3>
                <p class="short-description">
                    “This is one of those ultimate blowout dishes that hits the right spot several times in one meal
                    ”
                </p>
            </a>
        </article>

        <article class="recipe" index="2">
            <a href="">
                <figure>
                    <img src="img/lasagne.jpg" alt="meal">
                </figure>
                <ul class="article-info">
                    <li><span class="article-info-title">Cook Time:</span><br> 2h and 40min</li>
                    <li><span class="article-info-title">Category:</span><br> Dinner, Family</li>
                    <li><span class="article-info-title">Tag:</span><br> Italian, Pork, Beef</li>
                    <li>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                </ul>
                <h3 class="recipe-name">Lasagne</h3>
                <p class="short-description">
                    "Perfect for batch cooking and freezing.
                    Invest time in the ragù for this lovely lasagne and freeze the extra portions for a rainy day."
                </p>
            </a>
        </article>
    </div>

</section>*@

