<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ignite</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/homePage")
    @Styles.Render("~/Content/uploadCourse")
    @Styles.Render("~/Content/imageUpload")
    @Styles.Render("~/Content/dropzonescss")

    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jqgrid.css")

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" id="navBar">
                <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
<<<<<<< Updated upstream
                    
                    @if (this.User.Identity.IsAuthenticated)

                    {
                        <li>@Html.ActionLink("My Courses", "Home", "UserCourse", new { area = "" }, null)</li>
                    }

                    @if (this.User.IsInRole("Admin"))

                    {
                        <li>@Html.ActionLink("My Courses", "Home", "UserCourse", new { area = "" }, null)</li>
                    }

=======
>>>>>>> Stashed changes
                    @if (this.User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin", "Home", "Admin", new { area = "Admin" }, null)</li>
                        }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container" id="main">
        @RenderBody()
        <hr />
        <footer>
            <div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/modernizr")
<<<<<<< Updated upstream
    
    @Scripts.Render("~/bundles/myCourses")

=======
>>>>>>> Stashed changes
    @RenderSection("scripts", required: false)
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
