@model List<Ignite.ViewModels.AssignmentViewModel>

@{
    ViewBag.Title = "Courses";
}

<div class="row">
    @foreach (var assignment in Model)
    {
        <div class="card card-inverse container col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive card-img" src="~/Content/img.jpg" alt="Card image cap" />
            <div class="top-right text-right">
                @Html.ActionLink(assignment.Type, "DisplayingCourseSlides", new { courseId = assignment.CourseId })
            </div>

            <div class="card-block">
                <h4 class="card-title">@assignment.Course.Name</h4>
                <p class="card-text">@assignment.DateOfAssignment</p>
                <p class="card-text">@assignment.DateOfCompletion</p>
                <p class="card-text">@assignment.DueDate</p>

            </div>
        </div>
    }
</div>



