@model Ignite.ViewModels.ImagesToCourosel

@{
    ViewBag.Title = "LaunchCourse";
}

@section styles{
    @Styles.Render("~/Content/swiper.css");
}

<div class="panel-heading">
    <label>CourseName: @Model.CourseName</label>
    <button class="btn btn-info disabled" id="LaunchCourseButton">
        Take Test
    </button>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">

        @foreach (var image in Model.Images)
        {
            <div class="swiper-slide">
                <img id="slide-img" src="@Url.Action("RenderImage", new { imgId = image.Id })" alt="firstSlide">
            </div>
        }

    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/swiper.js");

    <script>
        $('#LaunchCourseButton').click(function () {
                document.location = '@Url.Action("StartTest", "TestQuiz", new { courseId = Model.CourseId })';
            });

        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            on: {
                init: function () {
                    console.log('swiper initialized');
                },
                reachEnd: function () {
                    debugger;
                    $('#LaunchCourseButton').removeClass("disabled")
                }
            }
        });
    </script>
}



