@model Ignite.ViewModels.AllAssignmentsPerUserViewModels

@{
    ViewBag.Title = "Welcome";
}

@section styles{
    @Styles.Render("~/Content/myCourses.css")

}
<div class="container" id="course-tabs">
    <div class="row">
        <ul class="nav nav-tabs nav-justified indigo">
            @*@ajax link => ajax action method sochat kum acton method provera
                <li class="active"><a href="#tab1success" data-toggle="tab">Success 1</a></li>*@
            <li class="nav-item">
                @Ajax.ActionLink("Pending", "ReturnCollectionPartialView",
                                             new { state = "pending" },
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "tabsuccess",
                                    }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Ajax.ActionLink("Started", "ReturnCollectionPartialView",
                                             new { state = "started" },
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "tabsuccess",
                                    }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Ajax.ActionLink("Completed", "ReturnCollectionPartialView",
                                            new { state = "completed" },
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "tabsuccess",
                                    }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Ajax.ActionLink("Overdue", "ReturnCollectionPartialView",
                                             new { state = "overdue" },
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "tabsuccess",
                                    }, new { @class = "nav-link" })
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabsuccess">
                @Html.Partial("_CompletedCourses", Model.Started)
            </div>
        </div>
    </div>
</div>
<br />

@section scripts{
}
